.ToolBox {
  flex-basis: 100%;
  background: var(--primary-dark-7);
}
.Toolbar {
  height: 100%;
  width: 64px;
  background: var(--primary-dark-9);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-light-9);
  .icon {
    font-size: 40px;
    margin: 8px 0;
    cursor: pointer;
  }
}

.template-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}
.template-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--primary-dark-7);
  padding: 20px;
  margin: 20px 0;
  max-width: 240px;
  .icon {
    img {
      max-width: 180px;
      // height: 220px;
    }
  }
  .detail {
    margin-top: 10px;
    color: var(--primary-light-9)
  }
}

.info-item {
  display: flex;
  margin: 40px;
  color: var(--primary-light);
  .icon {
    font-size: var(--font-size-4);
    font-weight: bold;
  }
  .detail {
    font-size: var(--font-size-4);
    padding-left: .5rem;
  }
}