.page {
  background: #fff;
  color: var(--font);
  font-family: Calibri;
  font-size: var(--font-size-3);
  padding: 5mm;
  height: 297mm;
  box-shadow: 8px 8px 2px 2px var(--primary-dark-9);
  width: 210mm;
  &.printView {
    box-shadow: none;
  }

  [contenteditable]:hover {
    box-shadow: 0 2px var(--primary);
  }

}



// default template style
// .resume-header {
//   display: flex;
//   .pofile-image {
//     padding-right: 40px;

//     img {
//       border-radius: 50%;
//       height: 140px;
//       width: 140px;
//     }
//   }
//   .header-info {
//     min-height: 140px;
//     .userName {
//       font-size: var(--font-size-1);
//       font-weight: bold;
//       color: var(--primary);
//     }
//     .designation {
//       font-size: var(--font-size-1);
//       color: var(--font);
//     }
//     .summary {
//       font-size: var(--font-size-3);
//     }
//   }
// }

// .contact-bar {
//   align-items: center;
//   background: var(--secondary-light-5);
//   display: flex;
//   flex-wrap: wrap;
//   font-size: var(--font-size-4);
//   justify-content: center;
//   margin: 0 -5mm;
//   padding: 2mm 0 2mm 0;
//   .group {
//     display: flex;
//     padding: 4px 8px 4px 8px;
//     // justify-content: center;
//     align-items: center;
//     svg {
//       fill: var(--primary);
//     }
//     .name {
//       padding-left: 2mm;
//       color: var(--secondary);
//     }
//   }
// }

// .resume-body {
//   // column-count: 2;
//   display: flex;
//   justify-content: space-between;
//   section {
//     margin-top: 1rem;
//   }
//   .mainSide {
//     flex: 1;
//     padding-right: 10px;
//   }
//   .subSide {
//     flex: 1;
//     padding-left: 10px;
//   }


//   .name {
//     color: var(--primary);
//     font-size: var(--font-size-2);
//     font-weight: bold;
//   }
//   .header {
//     .main {
//       font-size: var(--font-size-2);
//       font-weight: bold;
//     }
//     .date {
//       font-size: var(--font-size-4);
//       padding-left: .3rem;
//     }
//   }
//   .listHeader {
//     font-size: var(--font-size-3);
//   }
//   .listSubHeader {
//     color: var(--font-light);
//     font-size: var(--font-size-5);
//     display: flex;
//     justify-content: space-between;
//   }
//   .summary {
//     .summary-name {
//       font-size: var(--font-size-5);
//     }
//     .summary-list {
//       .item {
//         display: flex;
//         .icon {
//           font-size: var(--font-size-4);
//           font-weight: bold;
//         }
//         .detail {
//           font-size: var(--font-size-4);
//           padding-left: .5rem;
//         }
//       }
//     }
//   }

//   .singleItemList, .multiItemListTemplate {
//     &.priority-1 {
//       .header {
//         .main {
//         }
//         .date {
//           display: none;
//         }
//       }
//     }
//     &.priority-2 {
//       .header {
//         .main {
//           font-size: var(--font-size-3);
//         }
//         .date {
//           display: none;
//         }
//       }
//     }
//     &.priority-3 {
//       .header {
//         .date {
//         }
//       }
//     }
//     &.priority-4 {
//       .header {
//         .main {
//           font-size: var(--font-size-3);
//         }
//         .date {
//           font-size: var(--font-size-5);
//         }
//       }
//     }
//     &.priority-5 {
//       .header {
//         .main {
//           font-size: var(--font-size-3);
//         }
//         .date {
//           display: none;
//         }
//       }
//     }
//     .header {
//       font-size: var(--font-size-3);
//     }
//     .summary {
//       padding-bottom: .5rem;
//       &:last-child {
//         padding-bottom: 0;

//       }
//     }
//   }
//   .keyPoints {
//     .pointList {
//       display: flex;
//       flex-wrap: wrap;
//       .prority-1 {
//         background: var(--primary);
//         border: 2px solid var(--primary);
//         border-radius: 8px;
//         color: white;
//         font-size: var(--font-size-4);
//         padding: 4px 12px;
//         margin: 8px 8px 0 0;
//       }
//       .prority-2 {
//         background: var(--secondary);
//         border: 2px solid var(--secondary);
//         border-radius: 8px;
//         color: white;
//         font-size: var(--font-size-4);
//         padding: 4px 12px;
//         margin: 8px 8px 0 0;
//       }
//       .prority-3 {
//         border: 2px solid var(--primary);
//         border-radius: 8px;
//         color: var(--primary);
//         font-size: var(--font-size-4);
//         font-weight: bold;
//         padding: 4px 12px;
//         margin: 8px 8px 0 0;
//       }
//       .prority-4 {
//         border: 2px solid var(--secondary);
//         border-radius: 8px;
//         color: var(--font);
//         font-size: var(--font-size-4);
//         font-weight: bold;
//         padding: 4px 12px;
//         margin: 8px 8px 0 0;
//       }
//       .prority-5 {
//         border: 2px solid transparent;
//         border-radius: 8px;
//         color: var(--font);
//         font-size: var(--font-size-4);
//         font-weight: bold;
//         padding: 4px 12px;
//         margin: 8px 8px 0 0;
//       }
//     }
//   }
// }