.Viewer {
  // background: $main-primary-3;

  margin: 40px;
  // transform: scale(.5, .5);
  .page {
    background: #fff;
    color: var(--secondary);
    font-family: Calibri;
    font-size: var(--font-3);
    padding: 5mm;
    height: 297mm;
    box-shadow: 8px 8px 2px 2px var(--primary-dark-9);
    width: 210mm;

    [contenteditable]:hover {
      box-shadow: 0 2px var(--primary);
    }

  }
}