@import "./assets/style/variable.scss";

body {
  background: linear-gradient(180deg, var(--primary), hsl(var(--primary-hue), var(--primary-saturation), 90%));
}

main {
  display: flex;
  justify-content: space-between;
  // background: linear-gradient(180deg, var(--primary), hsl(var(--primary-hue), var(--primary-saturation), 90%));
  .Viewer-wrapper {
    // border-right: 4px solid var(--primary-dark-9);
  }
  .ToolBox-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-left: 4px solid var(--primary-dark-9);
    
  }
}


@media screen and (max-width: 992px) {
  main {
    flex-wrap: wrap;
    .Viewer-wrapper {
      width: 100vw;
      height: 60vh;
      .Viewer {
        transform-origin: top left;
        transform: scale(.4, .4);
        margin: 20px;
      }
    }
    .ToolBox-wrapper {
      border-left: none;
      width: 100%;
      .JsonEditor {
        height: 90vh;
        textarea {
          width: 100%;
          height: 90%;
        }
      }
    }
  }
}